.auction {
    padding-top: 97px;
    min-height: 1450px;
    background-color: #F8FAFF;
}

.auction__header {
    text-align: center;
}
.auction__uptitle {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: @color-grey;
}
.auction__title {
    margin-bottom: 65px;
    font-size: 40px;
    font-weight: 400;
    color: @color-grey;

    span:first-child{
        padding: 20px;
        background: #FFFFFF;
        border-radius: 5px;
        display: inline-block;
        color: @color-blue;
        font-weight: 700;
    }

    span:last-child{
        color: @accent;
        font-weight: 700;
        border-bottom: 3px dotted @accent;
    }
}
.auction__subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #000;
}
