.brands {
    padding-top: 115px;
    .lg(padding-top, 60px);
    padding-bottom: 40px;
}

.brands__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.brands__item {
    position: relative;
    width: 224px;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
    .xs(margin-right, 0);
    margin-bottom: 28px;

    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(49, 45, 112, 0.08);
    border-radius: 3px;
    
    cursor: pointer;
    transition: box-shadow 0.5s ease;

    &:hover {
        box-shadow: 0px 0px 25px rgba(49, 45, 112, 0.2);
    }

    &::after {
        position: absolute;
        display: block;
        content: '';
        left: 54%;
        bottom: -20px;
        width: 2px;
        height: 20px;
        border: none;
        border-left: 2px dashed @color-grey;
        z-index: -1;
    }

    &:nth-child(1)::after {
        height: 464px;
        left: 145%;
        bottom: -264px;
        transform: rotate(-83deg);
    }

    &:nth-child(2)::after {
        height: 240px;
        left: 90%;
        bottom: -140px;
        transform: rotate(-80deg);
    }

    &:nth-child(4)::after {
        height: 240px;
        left: 16%;
        bottom: -140px;
        transform: rotate(80deg);
    }

    &:nth-child(5)::after {
        height: 464px;
        left: -40%;
        bottom: -264px;
        transform: rotate(83deg);
    }
}

@media screen and (max-width: 1260px){
    .brands__item::after {
        display: none;
    }
}

.brands__btn {
    width: 65px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: @accent;
    border-radius: 50%;
    margin: 0 auto;

    // background: url(../img/brands-order.png);
}