.extra {
    padding-top: 92px;
    padding-bottom: 146px;
    .md-block({
        padding-top: 46px;
        padding-bottom: 73px;
    });
}

.extra__header {
    font-size: 40px;
    .md(font-size, 35px);
}

.extra__item {
    max-width: 290px;
    height: 200px;

    margin: 0 10px;
    .sm-block({
        margin: 0 auto;
    });
    padding: 30px 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 2px dashed #EAEAF1;
    text-align: center;

    img {
        width: 64px!important;
        height: 64px!important;
    }

    h3 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        color: @color-blue;
    }
}