.hero {
    padding-top: 65px;
    padding-bottom: 142px;
    background-color: @bgc-grey;
}
.hero__content {
    .row-flex();
    align-items: center;
}
.hero__text {
    .col();
    .size(6);
}
.hero__title {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    color: @color-blue;

    span {
        color: @accent;
    }
}
.hero__descr {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: @color-grey;
}

.hero-btn {
}

.hero__image {
    .col();
    .size(6);
}