.news {
    padding-top: 108px;
    padding-bottom: 80px;
    background-color: @bgc-grey;
}

.news__header {
    font-size: 40px;
}

.news__content {
    .row-flex();
}
.news__item {
    .col();
    .size(3);
    
    padding-bottom: 40px;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;

    time {
        margin-top: auto;
        color: @color-grey;
    }
}
.news__text {
    // margin-bottom: 20px;
    line-height: 30px;
}