.offer {
    padding-top: 49px;
    padding-bottom: 100px;
}

.offer__header {
    margin-bottom: 50px;
}

.offer__box {
    margin-bottom: 30px;
    padding: 56px 80px 50px;
    .lg-block({
        padding: 36px 50px 30px;
    });
    .md-block({
        padding: 5px;
    });
    box-shadow: 0px 0px 25px rgba(49, 45, 112, 0.08);
    border-radius: 3px;
    overflow-x: auto;
}

.offer__table {
    margin-left: -20px;
    margin-right: -20px;
    border-collapse: collapse;

    tr {
        transition: background-color 0.5s ease;

        &:nth-child(even) {
            background-color: #F8FAFF;
        }

        &:hover {
            background-color: @accent;
            cursor: pointer;
        }
    }
    
    td, th {
        text-align: center;
        padding: 20px 30px;
        .lg-block({
            padding: 15px 25px;
        });
        .md-block({
            padding: 10px 20px;
        });
    }

    th {
        padding-top: 0;
        .xs(font-size, 15px);
    }

    td:nth-child(even),  
    th:nth-child(even){
        border-left: 1px solid #EBEAF1;
        border-right: 1px solid #EBEAF1;
    }

    td {
        font-size: 16px;
        .xs(font-size, 13px);
        line-height: 36px;
        .lg(line-height, 30px);
        .md(line-height, 20px);
    }

    td:nth-child(1), th {
        font-weight: 500;
    }
}

.offer__descr {
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 20px;

    line-height: 30px;
    text-align: center;
}

.offer-btn {
    margin: 0 auto;
}