.offer {
    padding-top: 49px;
    padding-bottom: 116px;
}

.offer__header {
    margin-bottom: 50px;
}

.offer__table {
    margin-bottom: 30px;
    border-collapse: collapse;
}

.offer__descr {
    max-width: 840px;
    margin: 0 auto;
    margin-bottom: 20px;

    line-height: 30px;
    text-align: center;
}

.offer-btn {
    margin: 0 auto;
}